<div class="container-xxl">

    <div class="row align-items-center justify-content-center g-5 py-5">

        

        <div class="col-md-6 text-center text-md-start">

            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Hello! Welcome to RagRog</h1>

            <p class="lead">I have been in the website industry for over 20 plus years. I have performed various roles including: website manager, digital content creator, search engine optimsation specialist, content marketer, graphic designer, web designer and now specialising in front end web development.</p>

            <div class="">

            <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">Check Out Some Projects</button>

            </div>
        </div>


        <div class="col-md-6 text-center">
            <img src="/assets/projects/article-5.jpg" class="img-fluid rounded" alt="Featured Article">
        </div>

    </div>

</div>