


<footer class="p-5 bg-warning text-dark text-center position-relative mt-4">

    <div class="container">


            <!-- Grid container -->
            <div class="row align-items-start">

                <div class="col mb-3">

                    <a href="/" class="">

                        <img src="/assets/ragrog-logo.svg" alt="RagRog Logo" width="150px">

                    </a>

                </div>

                <div class="col mb-3 fs-3">

                    <!-- YouTube -->
                    <a class="m-1" href="https://www.youtube.com/@rigityragrog" role="button" target="_blank" rel="noopener noreferrer"><i class="bi bi-youtube text-dark"></i></a>

                    <!-- Facebook -->
                    <a class="m-1" href="https://www.facebook.com/rigityragrog" role="button" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook text-dark"></i></a>

                    <!-- Twitter -->
                    <a class="m-1" href="https://twitter.com/rigityragrog" role="button" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter text-dark"></i></a>

                    <!-- Instagram -->
                    <a class="m-1" href="https://www.instagram.com/rigityragrog/" role="button" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram text-dark"></i></a>

                    <!-- Linkedin -->
                    {# <a class="m-1" href="#!" role="button" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a> #}

                    <!-- Stackoverflow -->
                    <a class="m-1" href="https://stackoverflow.com/users/21598144/ragrog" role="button" target="_blank" rel="noopener noreferrer"><i class="bi bi-stack-overflow text-dark"></i></a>

                    <!-- Github -->
                    <a class="m-1" href="https://github.com/ragrog" role="button" target="_blank" rel="noopener noreferrer"><i class="bi bi-github text-dark"></i></a>

                </div>
                <!-- Grid container -->


            </div>

            <!-- Copyright -->
            <div class="d-flex align-items-center justify-content-center">
                <div>
                    <p>&copy; Copyright {{ helpers.currentYear() }} RagRog [ Front End Website Developer ] </p>
                </div>

                <div>
                    <p><a href="#" class="ps-4"><i class="bi bi-arrow-up-circle fs-3 text-white"></i></a></p>
                </div>

            </div>
            <!-- Copyright -->

    

    
    </div>


</footer>


