
<meta name="description" content="{{metadescription}}" />
<link rel="canonical" href="{{site.url}}{{canonical}}" />

<meta name="robots" content="index,follow" />

<!-- Facebook Open Graph data -->
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{metadescription}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{site.url}}{{canonical}}" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="RagRog" />

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="{{metadescription}}" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:site" content="@rigityragrog" />
<meta name="twitter:domain" content="{{site.url}}" />
<meta name="twitter:image" content="" />

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" href="/assets/shortcut-icon-192x192.png" sizes="192x192" type="image/png" />

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="RagRog">
<link rel="apple-touch-icon-precomposed" href="/assets/shortcut-icon-180x180.png" type="image/png" />

<!-- Shortcut Fav Icons -->
<meta name="msapplication-TileImage" content="/assets/shortcut-icon-270x270.png" />

<!-- Favicon -->
<link rel="icon" href="/assets/shortcut-icon-32x32.png" sizes="32x32" type="image/png" />
<link rel="icon" href="/assets/favicon.ico" sizes="32x32" type="image/ico" />

<!-- Site Generator -->
<meta name="generator" content="{{ eleventy.generator }}"> 