<div class="col">

<article class="card h-100">


        <img class="card-img-top" src="{{ post.data.image }}" alt="{{ post.imageAlt }}">


    <div class="card-body">

        

        <h3>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h3>

        <p class="small">by <span>{{ post.data.author }}</span> on <span>{{ post.data.date | postDate }}</span></p>

        <p class="">{{ post.data.summary }}</p>

        <div class="mb-3">
            {% for tag in post.data.tags | filterTagList %}
                <a class="btn btn-warning btn-sm shadow mb-1 rounded-pill" href="/tags/{{ tag | slugify }}">{{ tag }}</a>
            {% endfor %}
        </div>

        <a class="btn btn-danger" href="{{ post.url }}">Read project case study...</a>
        
    </div>
</article>

</div>