<div class="col">

<article class="card h-100">


        <img class="card-img-top" src="{{ project.data.image }}" alt="{{ project.data.imageAlt }}">


    <div class="card-body">

        

        <h3>
            <a href="{{ project.url }}">{{ project.data.title }}</a>
        </h3>

        <p class="small">by <span>{{ project.data.author }}</span> on <span>{{ project.data.date | postDate }}</span></p>

        <p class="">{{ project.data.summary }}</p>

        <div class="mb-3">
            {% for tag in project.data.tags | filterTagList %}
                <a class="btn btn-warning btn-sm shadow mb-1 rounded-pill" href="/tags/{{ tag | slugify }}">{{ tag }}</a>
            {% endfor %}
        </div>

        <a class="btn btn-danger" href="{{ project.url }}">Read project case study...</a>
        
    </div>
</article>

</div>