.project-image-height {
  max-height: 250px;
  display: flex;
  align-items: center;
}

.large-icon {
  font-size: 5rem;
}

@media only screen and (max-width: 800px) {
  .large-icon {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .large-icon {
    font-size: 2rem;
  }
}
