---
title: RagRog - Oops! Page Not Found
metadescription: Oops! Page Not Found.
canonical: /404/
layout: 'base.njk'
eleventyExcludeFromCollections: true
permalink: 404.html
---


    <h1 class="mb-4 pb-4">{{title}}</h1>

    <section>
        <p><a href="/">Go Home</a></p>
    </section>