---
title: RagRog About
metadescription: This is the meta description for the about page.
canonical: /about/
layout: 'base.njk'
---

{% include "breadcrumb.njk" %}

<h1 class="mb-4 pb-4">{{title}}</h1>

{# hero #}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">

    <div class="row align-items-center justify-content-center ">

        <div class="col-md-6 py-5">

            <h1 class="display-5 fw-bold mb-4">About RagRog</h1>

            <p class="fs-4 mb-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>

            <a class="btn btn-primary btn-lg" href="#" type="button">Contact Me</a>

        </div>

        <div class="col-md-6 py-5">
            <img src="/assets/ragrog-avatar.png" alt="RagRog Avatar" class="img-fluid rounded-circle">
        </div>

    </div>

</div>


{# Profile and Education #}
<div class="row align-items-md-stretch mb-4">

    <div class="col-md-6">

        <div class="h-100 p-5 text-bg-dark rounded-3">

            <h2>Profile</h2>

            <p class="mb-2">Responsible for producing content for various online platforms. A highly creative individual with strong attention to detail and a proactive approach. Proficient in researching industry-related topics, promoting content on targeted networks and monitoring the performance of existing campaigns.</p>

            <p class="mb-2">Skilled and highly motivated digital and traditional content creator with over 20 years of industry experience. Passionate about creating first-class web content and solutions. Managed multiple e-commerce, Government and small business websites focusing on the customer and user experience.</p>

            <p class="mb-4">Highly skilled data analyst with expertise in collecting, organising, interpreting, and disseminating various types of statistical data.</p>

            <button class="btn btn-outline-light" type="button">Example button</button>

        </div>

    </div>



    <div class="col-md-6">

        <div class="h-100 p-5 bg-body-tertiary border rounded-3">

            <h3 class="">
            Education
          </h3>
          <p>
            <span class="">1999 - 2000</span>
            <span class="">ASSOCIATE DIPLOMA MULTIMEDIA</span>
            <span class="">Moreton Institute of TAFE Queensland</span>
          </p>
          <p>
            <span class="">1992 - 1996</span>
            <span class="">ASSOCIATE DIPLOMA BUSINESS MANAGEMENT</span>
            <span class="">Moreton Institute of TAFE Queensland</span>
          </p>

          <h3 class="">Soft Skills</h3>
          <ul class="">
                <li>Project and time management skills </li>
                <li>Strong initiative and reliability </li>
                <li>Excellent communication skills </li>
                <li>Liaising with key stakeholders </li>
                <li>Ability to learn new skills quickly </li>
                <li>Able to overcome obstacles</li>
                <li>Works individually and in a team</li>
                <li>Takes ownership of projects </li>
                <li>Problem solving skills</li>
                <li>Highly productive</li>
          </ul>

        </div>

    </div>

</div>



{# work summary #}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">

<h3 class="mb-4">Work Experience <span class="text-secondary">Key Achievements</span></h3>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

    <div class="col">
    <div class="card h-100 shadow">

        <div class="card-body">
            <p class="card-title fw-bold mb-2">2021 - Present</p>
            <h3 class="card-subtitle mb-2">ABF Officer (Acting APS4) - Digital Content Creator</h3>
            <p class="card-text small text-body-tertiary">Department of Home Affairs</p>
            <p class="card-text">Responsible for managing the team&apos;s online presence and improving collaboration by creating the Intranet site alongside a specialised online tradecraft training site built on the SharePoint content management system.</p>
            <p class="card-text">Also responsible for providing departmental members and executive management with statistical reports to aid organisational decisions using Tableau Desktop software.</p>
        </div>

    </div>
    </div>

    <div class="col">
    <div class="card h-100 shadow">

        <div class="card-body">
            <p class="card-title fw-bold mb-2">2018 - 2021</p>
            <h3 class="card-subtitle mb-2">ABF Officer (APS3) - Brisbane International Airport</h3>
            <p class="card-text small text-body-tertiary">Department of Home Affairs</p>
            <p class="card-text">Responsible for successfully applying controls in the Passenger environment at the Brisbane International Airport by processing, risk assessing, inspecting, cold targeting, examining and clearing passenger and crew baggage, personal effects and electronic equipment, resulting in numerous detections of prohibited imports.</p>
        </div>

    </div>
    </div>


    <div class="col">
    <div class="card h-100 shadow">

        <div class="card-body">
            <p class="card-title fw-bold mb-2">2014 - 2018</p>
            <h3 class="card-subtitle mb-2">Digital Content Creator / SEO / Marketing Manager</h3>
            <p class="card-text small text-body-tertiary">Superior Engineering</p>
            <p class="card-text">Responsible for managing the organisation&apos;s online presence by creating a new mobile-friendly eCommerce website along with several Drupal and WordPress microsites within allocated budgets and deadlines, resulting in exponential growth in website sales and traffic year after year.</p>
        </div>

    </div>
    </div>


    <div class="col">
    <div class="card h-100 shadow">

        <div class="card-body">
            <p class="card-title fw-bold mb-2">2009 - 2014</p>
            <h3 class="card-subtitle mb-2">eCommerce Web Manager / SEO / Social Media</h3>
            <p class="card-text small text-body-tertiary">HART Sport Australia and New Zealand</p>
            <p class="card-text">Responsible for managing the migration of the HART Sport legacy eCommerce website by implementing an up-to-date mobile-friendly platform, incorporating the Commerce Vision and Pronto B2B and B2C Enterprise Management Systems (EMS).</p>
        </div>

    </div>
    </div>


    <div class="col">
    <div class="card h-100 shadow">

        <div class="card-body">
            <p class="card-title fw-bold mb-2">2005 - 2009</p>
            <h3 class="card-subtitle mb-2">Website Content Manager</h3>
            <p class="card-text small text-body-tertiary">Northern Territory Government - Department of Business</p>
            <p class="card-text">Responsible for managing several Northern Territory Government (NTG) websites, including the Territory Business Channel (TBC Business Portal), Fisheries, Skilled Migration, Research and Development and the Land Development Corporation by following the Whole of Government web standards</p>
        </div>

    </div>
    </div>


</div>
</div>


{# work experience #}
<div class="p-5 mb-4 bg-dark rounded-3">

<h3 class="mb-4 text-white">Work Experience <span class="text-secondary">In Detail</span></h3>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">

       <div class="col">   
        <div class="card h-100 shadow">
            <div class="card-body">
                <h2 class="card-title">ECOMMERCE</h2>
                <p>Manage multiple large eCommerce websites in Australia and New Zealand using numerous systems, including OpenCart eCommerce software, Superior Engineering Enterprise Management System (EMS), Commerce Vision Software and the Pronto Enterprise Management System (EMS).</p>
            </div>
        </div>
        </div>

        <div class="col">
        <div class="card h-100 shadow">
            <div class="card-body">
                <h2 class="card-title">WEBSITE MANAGEMENT</h2>
                <p>Design, develop, manage and implement web projects (websites, graphics, marketing, newsletters etc.) from the concept stage through to architecture, publishing, monitoring, review and maintenance using a variety of publishing platforms and desktop software.</p>
            </div>
        </div>
        </div>

        <div class="col">
        <div class="card h-100 shadow">
        <div class="card-body">
            <h2 class="card-title">SEO</h2>
            <p>Develop, manage, implement and monitor the organisation&apos;s Search Engine Optimisation (SEO), Web Page Optimisation (WPO) and Search Engine Marketing (SEM) strategies.</p>
            
        </div>
        </div>
        </div>


        <div class="col">
        <div class="card h-100 shadow">
        <div class="card-body">
            <h2 class="card-title">SOCIAL MEDIA</h2>
            <p>Develop, manage, implement and promote the organisation&apos;s Social Media strategy and online communications to increase organic and paid growth on social media channels, including Facebook, Instagram, Twitter and YouTube.</p>
            
        </div>
        </div>
        </div>



        <div class="col">
        <div class="card h-100 shadow">
        <div class="card-body">
            <h2 class="card-title">CONTENT CREATION</h2>
            <p>Create and deliver high-quality content, including graphics, videos, still images and multimedia elements for the organisation&apos;s website pages, various microsites, electronic newsletters, marketing campaigns and social media channels.</p>
            
        </div>
        </div>
        </div>


        <div class="col">
        <div class="card h-100 shadow">
        <div class="card-body">
            <h2 class="card-title">CONTENT MANAGEMENT</h2>
            <p>Develop and bring to life exciting and engaging microsites using SharePoint, WordPress, Drupal and Joomla Content Management Systems (CMS).</p>
            
        </div>
        </div>
        </div>


        <div class="col">
        <div class="card h-100 shadow">
        <div class="card-body">
            <h2 class="card-title">COLLABORATION</h2>
            <p>Work closely with the marketing and sales teams to problem solve, develop ideas and help facilitate the production of promotional advertising and marketing materials for print and online campaigns.</p>
            
        </div>
        </div>
        </div>


        <div class="col">
        <div class="card h-100 shadow">
        <div class="card-body">
            <h2 class="card-title">REPORTING</h2>
            <p>Deliver statistics and insights to key stakeholders, including business owners, marketing and sales teams and senior management, on website metrics, social media engagement, SEO performance and newsletter uptake using various analytics tools.</p>
            
        </div>
        </div>
        </div>



        <div class="col">
        <div class="card h-100 shadow">
        <div class="card-body">
            <h2 class="card-title">GRAPHIC DESIGN</h2>
            <p>Create and develop graphic design projects for print such as magazine ads, newspaper ads, brochures, catalogues, packaging, vouchers, posters, signage and merchandise.</p>
            
        </div>
        </div>
        </div>


        <div class="col">
        <div class="card h-100 shadow">
        <div class="card-body">
            <h2 class="card-title">DIRECT MARKETING</h2>
            <p>Create, develop and publish electronic newsletters using Active Campaign and MailChimp, while maintaining and growing the organisation&apos;s Electronic Direct Marketing (EDM) database.</p>
            
        </div>
        </div>
        </div>


        <div class="col">
        <div class="card h-100 shadow">
        <div class="card-body">
            <h2 class="card-title">COMMUNICATION</h2>
            <p>Liaise and communicate with internal and external stakeholders in the supply of goods and services, including Enterprise Management System contractors, database administrators, social media companies, advertisers, payment gateway providers, printers, freight companies, senior web developers, domain name registrars and website hosting providers.</p>
            
        </div>
        </div>
        </div>


        <div class="col">
        <div class="card h-100 shadow">
        <div class="card-body">
            <h2 class="card-title">RESEARCH</h2>
            <p>Ensure future development needs to take advantage of new and emerging web technologies and techniques without compromising current web standards.</p>
            
        </div>
        </div>
        </div>


        <div class="col">
        <div class="card h-100 shadow">
        <div class="card-body">
            <h2 class="card-title">TRAINING</h2>
            <p>Provide training, advice and operational guidance to staff on how to use the web environment to communicate information effectively on matters relating to web publishing (text, images, animations, documents, video, audio and forms).</p>
            
        </div>
        </div>
        </div>

</div>

</div>