---
title: RagRog Skills
metadescription: This is the meta description for the skills page.
canonical: /skills
layout: 'base.njk'
---

{% include "breadcrumb.njk" %}

<h1 class="mb-4 pb-4">{{title}}</h1>


{# hero #}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">

    <div class="row align-items-center justify-content-center ">

        <div class="col-md-6 py-5">

            <h1 class="display-5 fw-bold mb-4">Skills</h1>

            <p class="fs-4 mb-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>

            <a class="btn btn-primary btn-lg" href="#" type="button">Contact Me</a>

        </div>

        <div class="col-md-6 py-5">
            <img src="/assets/ragrog-avatar.png" alt="RagRog Avatar" class="img-fluid rounded-circle">
        </div>

    </div>

</div>



{# expertise #}
<h2 class="display-5 fw-bold mb-4">Expertise</h2>


<h4 class="fw-bold mb-4">HTML / CSS / Javascript</h4>

<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-success" style="width: 95%">95%</div>
</div>

<h4 class="fw-bold mb-4 mt-4">Adobe Creative Suite</h4>

<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-success" style="width: 95%">95%</div>
</div>

<h4 class="fw-bold mb-4 mt-4">Data Analysis and Visualisation</h4>

<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-success" style="width: 95%">95%</div>
</div>

<h4 class="fw-bold mb-4 mt-4">Content Creation</h4>

<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-success" style="width: 95%">95%</div>
</div>

<h4 class="fw-bold mb-4 mt-4">Search Engine Optimisation</h4>

<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-success" style="width: 95%">95%</div>
</div>

<h4 class="fw-bold mb-4 mt-4">Marketing</h4>

<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-success" style="width: 95%">95%</div>
</div>

<h4 class="fw-bold mb-4 mt-4">Social Media</h4>

<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-success" style="width: 95%">95%</div>
</div>

<h4 class="fw-bold mb-4 mt-4">Web Design / Web Development</h4>

<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-success" style="width: 95%">95%</div>
</div>



{# recent courses #}


<div class="row align-items-md-stretch mb-4 mt-0">

  <h2 class="display-5 fw-bold mb-4 mt-5 text-dark">Recent Courses</h2>

    <div class="col-md-6">

        <div class="h-100 p-5 text-bg-dark rounded-3">

            <h2 class="text-center mb-5">Data Analysis</h2>

            <div>
                <p class="text-white">
                <i class="fa-solid fa-chart-simple fa-lg"></i>
                <span class="fw-bold">2022</span>
                <span class="">Tableau Desktop I</span>
                <span class="">by SalesForce</span>
                </p>
                <p class="text-white">
                <i class="fa-solid fa-chart-simple fa-lg"></i>
                <span class="fw-bold">2022</span>
                <span class="">Tableau Desktop II</span>
                <span class="">by SalesForce</span>
                </p>
                <p class="text-white">
                <i class="fa-solid fa-chart-simple fa-lg"></i>
                <span class="fw-bold">2022</span>
                <span class="">Tableau Beginner to Advanced</span>
                <span class="">by Udemy</span>
                </p>
                <p class="text-white">
                <i class="fa-brands fa-python fa-lg"></i>
                <span class="fw-bold">2022</span>
                <span class="">Python Data Analysis - Colt Steele</span>
                <span class="">by Udemy</span>
                </p>
          </div>

            

        </div>

    </div>



    <div class="col-md-6">

        <div class="h-100 p-5 bg-body-tertiary border rounded-3">

          <h2 class="text-center mb-5">Web Development</h2>

          <div>
                <p class="text-dark">
                <i class="fa-brands fa-react fa-lg"></i>
                <span class="fw-bold">2022</span>
                <span class="">React Front to Back - Traversy Media</span>
                <span class="">by Udemy</span>
                </p>
                <p class="text-dark">
                <i class="fa-brands fa-vuejs fa-lg"></i>
                <span class="fw-bold">2022</span>
                <span class="">Complete Vue Developer - ZTM</span>
                <span class="">by Udemy</span>
                </p>
                <p class="text-dark">
                <i class="fa-brands fa-react fa-lg"></i>
                <span class="fw-bold">2022</span>
                <span class="">React Apps and Firebase - Net Ninja</span>
                <span class="">by Udemy</span>
                </p>
                <p class="text-dark">
                <i class="fa-brands fa-react fa-lg"></i>
                <span class="fw-bold">2023</span>
                <span class="">Complete Angular Developer - ZTM</span>
                <span class="">by Udemy</span>
                </p>
          </div>
          

        </div>

    </div>

</div>


{# skill tags #}
<div class="p-5 mb-4 mt-4 bg-body-tertiary rounded-3">

    <h2 class="display-5 fw-bold mb-4">Skills</h2>


                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Bootstrap</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Website Design</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Tableau Desktop</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Tableau Server</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">JS Libraries / JQuery</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">JSON / XML</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Browser Web Dev Tools</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">React JS</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">HTTP Protocols</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Restful APIs</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Google Adwords</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">CMS</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Wordpress</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Front End Web Dev</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">SEO / SEM/ WPO</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Illustration</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Data Analysis</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Facebook Ads</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Power BI</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Font Awesome</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Vanilla JS</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Git Hub</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Next JS</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">CSS Media Queries</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">NPM</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Google Search Console</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Graphic Design</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Electronic Direct Mail</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Domains</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Advertising</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">SharePoint</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">SQL / MySQL DB</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">CSS Frameworks</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">CSS Flexbox / Grid</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">DOM</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">VS Code / XCode</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">eCommerce</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Payment Gateways</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">cPanel / Web Servers</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Google Web Master</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Microsoft Office</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Photography</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Ajax</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">WAMP/MAMP</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Fetch API</span>
                <span class="badge rounded-pill text-bg-primary p-2 mb-3">Array Methods</span>


</div>